* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: linear-gradient(0deg, #08AEEA 0%, #2AF598 100%);
}

.container {
    position: relative;
}

.clock {
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.206);
    display: flex;
    justify-content: center;
    align-items: center;
}

.clock span {
    position: absolute;
    transform: rotate(calc(30deg *var(--i)));
    inset: 10px;
    text-align: center;
    font-size: x-large;
}

.clock span b {
    transform: rotate(calc(-30deg * var(--i)));
    display: inline-block;
}
.clock::after{
    content: "";
    width: 10px;
    height: 10px;
    background-color: aliceblue;
    border-radius: 50%;
    position: absolute;

}
.hands{
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.hands i{
    position: absolute;
  background-color: var(--clr);
  width: 5px;
  height: var(--h);
  border-radius: 5px;
}
